
#champion{
  margin: 50px auto;
  float: none;
  position: relative;
  min-height: 1000px;
}

.bio{
  position: absolute;
  top:0;
  left:0;
  width:50%;
  float: left;
  display: inline-block;
}
.info{
  padding: 20px;
  display: inline-block;
}
.name{
  text-transform: capitalize;
  font-size: 2em;
}
.title{
  font-size: 1em;
}
.video{
  position: absolute;
  top:0;
  right:0;
  display: inline-block;
  width: 50%;
  min-height: 200px;
}
.video > iframe{
  width:100%;
  height: 200px;
}
#abilities{
  position: absolute;
  top: 300px;
  width: 80%;
  left: 50%;
  margin-left: -40%;
  border: 1px solid white;
  padding: 30px 10px;
  margin-bottom: 30px;
}
.ability{
  width: 90%;
  overflow: hidden;
  position: relative;
  padding: 2%;
  margin: auto;
}


.ability > .name{
display: inline-block;
margin-left: 10px;
}
.ability > .name > .type{
  font-size: 0.6em;
  display: block;
}

.ability img{
  display: inline-block;
}
.ability iframe{
  float: right;

}

.ability > .description{
  margin: 20px 10px;
  padding: 20px;
  width: 50%;
}



.prompt-toggle{
  background: #eac67c;
}
