body{
  background: #404040;
}
.content{
  padding: 1%;
}
/*
#00ACE9 -blue
#D43F3F -red
#6A9A1F -green
#F6F6E8 -white
#404040 -grey
*/
.navbar{
  background: #404040;
  border-bottom: 2px solid #6A9A1F;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{
  color: #F6F6E8;
}
